@import url("https://fonts.googleapis.com/css?family=Vidaloka:100,200,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,400,700");

@import 'vendors/normalize.min';
@import 'svgs';


$mainColor: #FFD39C;
$mainBorder: 3px solid lighten($mainColor, 3);
$smallContainerDims: 300px;
$bigContainerDims: 450px;
$smoothTransition: all 0.5s ease-in-out;

* {
  font-family: "Vidaloka";
  font-weight: 200;
}

.choiceBtn {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container {
  position: relative;
  margin: 80px auto;
  width: $smallContainerDims;
  height: $smallContainerDims;
  color: rgb(255, 255, 255);
  background-color: $mainColor;
}

.user-prompt {
  /* display: none;*/
  -webkit-transition: $smoothTransition;
  transition: $smoothTransition;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-sizing: border-box;
  width: 90%;
  padding: 15px 25px;
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  .choiceBtn {
    -webkit-transition: $smoothTransition;
    transition: $smoothTransition;
    font-size: 50px;
    margin: 0 10px 10px 10px;
    width: 50px !important;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  .choiceBtn:hover {
    text-shadow: 0 8px 10px rgba(0, 0, 0, 0.20);
  }
}

.background-disable {
  /* display: none;*/
  -webkit-transition: $smoothTransition;
  transition: $smoothTransition;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.board {
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  outline: 16px groove darken($mainColor, 4);
  outline-style: ridge;
}

.board-component {
  position: relative;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  float: left;
  width: $smallContainerDims/3;
  height: $smallContainerDims/3;
  cursor: pointer;
  &:nth-child(n+4) {
    border-top: $mainBorder;
  }
  &:nth-child(n):not(:nth-child(3n+3)) {
    border-right: $mainBorder;
  }
  &:hover {
    background-color: lighten($mainColor, 1);
  }
}

@media screen and (min-width: 500px) {
  .container {
    width: $bigContainerDims;
    height: $bigContainerDims;
    margin: 150px auto;
  }
  .board-component {
    width: $bigContainerDims/3;
    height: $bigContainerDims/3;

  }
  .user-prompt {
    top: 80px;
    padding: 25px 40px;
    width: 75%;
  }
}

.winnerSymb {
  font-weight: 900;
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes colorChange {
    from {color: deeppink;}
    to {color: $mainColor;}
}

@keyframes colorChange {
    from {color: deeppink;}
    to {color: $mainColor;}
}


.restartBtn {
  -webkit-transition: $smoothTransition;
  transition: $smoothTransition;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  margin: 15px auto;
  border: 5px groove deeppink;
  border-radius: 10px;
  &:hover {
    border-style: ridge;
  }
}
